@font-face {
  font-family: 'Coolvetica';
  src: url('coolvetica_rg.ttf')  format('truetype');
}

body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	background: #fbfbfb;
}

#main {
	/*padding-bottom: 444px;*/
	min-height: 100%;
	height: auto;
	position: relative;
}

/***********************************************************
				  HEADER - LOGO, MENU, LOGIN
************************************************************/

header {
	font-family: 'Coolvetica';
}

.clinks-navbar {
	border: none;
	background: #1d2d2f;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.clinks-navbar > .container-fluid {
	padding: 0 16px;
}

.clinks-navbar-header {
	padding: 16px 0;
}

.clinks-navbar-header > a.navbar-brand {
	padding:0;
	margin:0 !important;
	height: 48px;
}

.clinks-navbar-collapse > ul.navbar-nav:first-child {
	float: none;
	display: inline-block;
	font-size: 16px;
}

.clinks-navbar-collapse {
	text-align: center;
  	font-size: 0px;
}

.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a,
.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a:active,
.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a:link,
.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a:visited,
.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a:focus {
	color: #e6e1c6;
	font-size: 16px;
	padding: 30px 16px;
	transition: background-color 0.2s
}

.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a:hover,
.clinks-navbar-collapse > ul.navbar-nav:first-child > li.active > a:hover {
	background: rgba(0,0,0,0.3);
}

.clinks-navbar-collapse > ul.navbar-nav:first-child > li.active > a {
	color: #d69632;
	background: transparent;
}

.clinks-navbar-collapse > ul.navbar-right {
	margin:0;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: inherit;
}

.navbar-default .navbar-toggle {
	border: none;
	transition: background-color 0.2s;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #eb9822;
}

.navbar-toggle .icon-bar {
	height: 4px;
	width: 24px;
	border-radius: 2px;
}

.navbar-toggle {
	border-radius: 2px;
	margin-right: 16px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 12px;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover:hover {
	background-color: rgba(255,255,255,0.15);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background: rgba(0,0,0,0.3);
}

.dropdown-menu {
	padding: 0;
	border:none;
	border-radius: 2px;
	background-color: #285358;
}

.dropdown-menu > li > a,
.dropdown-menu > li > a:link,
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:visited,
.dropdown-menu > li > a:focus {
	padding: 16px;
	color:#e6e1c6;
	font-size: 16px;
	transition: background-color 0.2s;
}

.dropdown-menu > li > a:hover {
	background: rgba(0,0,0,0.3);
}

@media screen and (max-width: 767px){
	.clinks-navbar-header > a.navbar-brand {
		margin-left: 16px !important;
	}

	.clinks-navbar-collapse > ul.navbar-nav:first-child {
		display: inherit;
		padding: 0 16px;
		padding-bottom: 16px;
		margin:0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}

	.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a,
	.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a:active,
	.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a:link,
	.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a:visited,
	.clinks-navbar-collapse > ul.navbar-nav:first-child > li > a:focus {
		padding: 16px;
		width: 100%;
	}

	.navbar-right > li.clinks-btn-1,
	.navbar-right > li.clinks-btn-1:link,
	.navbar-right > li.clinks-btn-1:visited,
	.navbar-right > li.clinks-btn-1:focus,
	.navbar-right > li.clinks-btn-1:active {
		padding:14px 16px 12px 16px;	
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		text-align: center;
		padding: 12px;
		color:#e6e1c6;
		transition: background-color 0.2s;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color:#e6e1c6;
		background-color: rgba(0,0,0,0.3);
	}

	.navbar-default .navbar-nav .open .dropdown-menu {
		padding-top: 4px;
	}
}

@media (max-width: 792px){
	.clinks-navbar-header > a.navbar-brand {
		padding: 8px 0;
	}

	.clinks-navbar-header > a.navbar-brand > img {
		height: 32px;
	}
}

.clinks-btn-1,
.clinks-btn-1:link,
.clinks-btn-1:visited,
.clinks-btn-1:focus,
.clinks-btn-1:active {
	border-radius: 2px;
	font-size: 16px;
	padding: 9px 16px 7px 16px;
	border:none;
	border-bottom: 4px solid rgba(0,0,0,0.2);
	background: #d69632;
	color: #f8f3d7;
	transition: background-color 0.3s;
	margin:19px 0;
}

.clinks-btn-1:hover {
	background-color: #b98026;
	color: #f8f3d7;
	border-bottom: 4px solid rgba(0,0,0,0.2);
}

/***********************************************************
				  		   FOOTER
************************************************************/

footer {
	/*position: absolute;
	width: 100%;
	left: 0;
	bottom:0;*/
}

.footer-lg {
	padding-top:32px;
	padding-bottom: 32px;
	background:#f2f2f2;
}

.clinks-footer-lg {
	list-style: none;
	padding:0;
	margin:0;
}

.clinks-footer-lg > li {
	margin-bottom: 12px;
}

.clinks-footer-lg > li:last-child {
	margin-bottom: 0;
}

.clinks-footer-lg > li > a {
	font-family: 'Lato';
	color: #274346;
	font-weight: 700;
}

.clinks-footer-lg > li > a:hover {
	text-decoration: none;
	color: #d69632;
	transition: color 0.2s;
}

.clinks-formasPagamento-content > h3,
.clinks-seguranca-content > h3 {
	font-size: 16px;
	color: #274346;
	font-weight: 700;
	margin:0;
	margin-bottom: 12px;
}

.clinks-formasPagamento-box > ul {
	list-style: none;
	padding:0;
	margin:0;
}

.clinks-formasPagamento-box > ul > li {
	float:left;
	height: 24px;
	margin: 0 7.5px 12px 7.5px;
}

.clinks-formasPagamento-box > ul > li > img {
	margin:0 auto;
}

.footer-lg > .container > .row > .col-md-8 > .row:first-child {
	padding-bottom: 16px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.footer-lg > .container > .row > .col-md-8 > .row:last-child {
	margin-top: 16px;
}

.clinks-seguranca-box > ul {
	list-style: none;
	margin:0;
	padding:0;
}

.clinks-seguranca-box > ul > li {
	float: left;
	margin: 0 7.5px 12px 7.5px;
	height: 36px;
	max-width: 123.75px;
}

.footer-sm {
	background: #e9e9e9;
	padding: 16px 0;
}

.clinks-byLinn {
	margin-right: 16px;
}

.clinks-copyright {
	margin-left: 16px;
}

.clinks-copyright > address {
	color: #274346;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 36px;
}

.clinks-byLinn > address {
	color: #274346;
	font-weight: 700;
	line-height: 36px;
	margin:0;
}

.clinks-byLinn > address > a {
	margin-left: 12px;
  	box-sizing: border-box;
  	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	-webkit-transition: all .2s ease;
  	transition: all .2s ease;	
}

.clinks-byLinn > address > a:hover {
  	-webkit-filter: grayscale(0%);
  	filter: grayscale(0%);	
}

/***********************************************************
				  		 ASSOCIE-SE
************************************************************/

.joinUs-content {
	padding: 32px 16px;
	background: #e6e1c6;
}

.joinUs-content > p {
	font-family: 'Coolvetica';
	font-size: 24px;
	color: #274346;
	margin:0;
	line-height: 56px;
}

.joinUs-content > p > img {
	margin: 0 16px;
}

.joinUs-content > p > a,
.joinUs-content > p > a:focus,
.joinUs-content > p > a:visited,
.joinUs-content > p > a:link,
.joinUs-content > p > a:active {
	padding: 0 36px;
	margin:0;
	color: #fff;
	margin-left: 16px;
	display: inline-block;
	font-size: 24px;
	background: #eb9822;
	text-decoration: none;
	transition: background-color 0.3s;
}

.joinUs-content > p > a:hover {
	text-decoration: none;
	background-color: #b98026;
}

@media screen and (max-width: 895px) {
	.joinUs-content > p > a.clinks-btn-1 {
		margin-top: 24px;
	}
}

/***********************************************************
				  		    APP
************************************************************/

h1 {
	font-size: 36px;
	margin:0;
	color:#274346;
	margin-bottom: 32px;
}

.ofertas-content, .app-content {
	padding-top: 48px;
}
.app-box > .col-md-4:last-child {
	margin-bottom: 32px;
	margin-top:42px;
}

.app-box > .col-md-4 > img {
	margin:0 auto;
}

.app-box > .col-md-4 > ul {
	padding-left: 20px;
	list-style-image: url('../img/list-square.png');
	margin-bottom: 24px;
}

.app-box > .col-md-4 > ul > li {
	font-size: 16px;
	color: #000;
	margin-bottom: 12px;
	font-weight: 700;
	line-height: 22px;
	padding-left: 4px;
}

.app-box > .col-md-4 > ul > li:last-child {
	margin:0;
}

.app-links > a,
.app-links > a:visited,
.app-links > a:link,
.app-links > a:active,
.app-links > a:focus {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 2px;
	background: #1d2d2f;
	color: #e6e1c6;
	padding: 8px 12px;
	border-bottom: 4px solid rgba(0,0,0,0.3);
	transition: background-color 0.3s;
}

.app-links > a > img {
	margin-top: 8px;
}

.app-links > a > div > p {
	font-size: 12px;
	margin:0;
	margin-left: 40px;
	margin-bottom: 3px;
}

.app-links > a > div > h3 {
	margin:0;
	font-size: 20px;
	font-weight: 700;
	margin-left: 40px;
}

.app-links > a:hover {
	background-color: #285358;
	text-decoration: none;
}

@media (max-width: 767px){
	.app-box > .col-sm-6 > .row > .col-sm-6:first-child > .app-links > a {
		margin-bottom: 16px;
	}
}

/***********************************************************
				  		  NOVIDADES
************************************************************/

.cadastro-content {
	background: #1d2d2f;
	width: 100%;
	padding:32px 0;
}

.cadastro-content h1 {
	color: #eb9822;
}

.cadastro-form input {
	border-radius: 2px;
	box-shadow: none;
	border:none;
	border-bottom: 2px solid #e6e1c6;
	background: #29383a;
	height: 44px;
	outline: 0;
	box-shadow: none;
	color:#e6e1c6;
	transition: border-bottom-color 0.3s;
}

.cadastro-form input:focus {
	box-shadow: none;
	outline: none;
	border-bottom-color: #eb9822;
}

.cadastro-form button {
	margin:0;
	width: 100%;
	background: #eb9822;
	color: #fff;
	font-weight: 700;
	height: 44px;
}

@media screen and (max-width: 767px) {
	.cadastro-form input{
		margin-bottom: 24px;
	}
}

/***********************************************************
				  		  BANNER
************************************************************/

 #clinks-banner {
    background: url('../img/banner.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 192px;
}

@media screen and (max-width: 991px) {
	#clinks-banner {
		height: inherit;
	}

	.banner-arrow {
		display: none;
	}

	#clinks-banner {
		padding-top: 128px
	}
}

.clinks-banner-box {
	position: relative;
	margin-bottom: 48px;
}

.clinks-banner-box > h3 {
	font-family: 'Coolvetica', 'Lato';
	margin:0;
	margin-bottom: 32px;
	color: #e6e1c6;
	font-weight: normal;
	font-size: 36px;
}

@media (max-width: 767px){
	.clinks-banner-box > h3 {
		font-size: 24px;
	}
}

.banner-arrow {
	position: absolute;
	top: 50%;
	right: -20px;
}

#clinks-banner .col-md-3:nth-child(3) > .clinks-banner-box > .banner-arrow {
	right: -70px;
}

.col-md-3:last-child > .clinks-banner-box > h3 {
	color: #EA9721;
}

/***********************************************************
				  		  OFERTAS
************************************************************/

.ofertas-box-lg, .ofertas-box-md {
	width: 100%;
	height: 100%;
	min-height: 328px;
	border-radius: 2px;
    background: url('../img/oferta-01.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor:pointer;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 12px 0 rgba(0, 0, 0, 0.16);
}

.ofertas-box-md {
	min-height: 258px;
}

.ofertas-box-lg-inner, .ofertas-box-md-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: -webkit-linear-gradient(rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.5) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.5) 100%);
	background: linear-gradient(rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', 
			endColorstr='#33000000',GradientType=0 );
  	-webkit-transition: all .3s ease;
  	transition: all .3s ease;
}

.ofertas-box > .container > .row > .col-sm-6, .ofertas-box > .container > .row > .col-md-4 {
	padding: 0 2px;
	margin-bottom: 4px;
}

.oferta-box-lg-info, .oferta-box-md-info {
	position: absolute;
	left: 16px;
	bottom: 16px;
  	-webkit-transition: all .3s ease;
  	transition: all .3s ease;
}

.oferta-box-lg-infoImg, .oferta-box-md-infoImg{
	padding: 0 6px;
	border-radius: 2px;
	background: #fff;
	width: 72px;
	height: 72px;
}

.oferta-box-md-infoImg {
	width: 56px;
	height: 56px;
}

.oferta-box-lg-infoImg > img, .oferta-box-md-infoImg > img{
	position: relative;
  	top: 50%;
  	width: 100%;
  	height: auto;
  	margin-top: -4px;
  	transform: translateY(-50%);
}

.oferta-box-md-infoImg > img {
	margin-top: -8px;
}

.oferta-box-lg-infoText, .oferta-box-md-infoText {
	margin-left: 84px;
	color: #fff;
}

.oferta-box-md-infoText {
	margin-left: 68px;
}

.oferta-box-lg-infoText > h3, .oferta-box-md-infoText > h3{
	margin:0;
	font-size: 20px;
	font-weight: 700;
	margin:10px 0;
}

.oferta-box-md-infoText > h3 {
	font-size: 16px;
	margin: 8px 0 4px 0;
}

.oferta-box-lg-infoText > p, .oferta-box-md-infoText > p {
	margin:0;
	font-size: 14px;
}

.ofertas-box-lg-promoTag, .ofertas-box-md-promoTag {
	width: 230px;
	height: 64px;
	position: absolute;
	box-sizing: border-box;
	padding: 0 72px 0 20px;
	right:12px;
	top:12px;
	display: table;
	background: url('../img/oferta-tag.png') no-repeat center center;
}

.ofertas-box-lg-promoTag > p, .ofertas-box-md-promoTag > p{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	width: 100%;
	padding: 4px 0;
	text-transform: uppercase;
	color: #274346;
	font-weight: 700;
}

.ofertas-box-lg:hover > .ofertas-box-lg-inner, .ofertas-box-md:hover > .ofertas-box-md-inner {
	background: -webkit-linear-gradient(rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.7) 100%);
	background: linear-gradient(rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', 
			endColorstr='#33000000',GradientType=0 );

}

.ofertas-box-lg:hover > .ofertas-box-lg-inner > .oferta-box-lg-info,
.ofertas-box-md:hover > .ofertas-box-md-inner > .oferta-box-md-info {
	bottom: 20px;
}